.cut-row {
  border-bottom: 1px solid black;
}

.cut-row__section {
  display: inline-block;
  text-align: center;
  &:last-of-type {border-right: 0;}
}

.cut-row__section--cut {
  width: $cut-column-width;
  font-size: 2rem;
}

.cut-row__section--visual {
  width: $visual-column-width;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cut-row__section--duration {
  width: $duration-column-width;
  font-size: 2rem;
}

.cut-row__canvas {
  cursor: crosshair;
  width: 100%;
  // cursor: url('path-to-image.png'), auto;
}

.update-visual {
  display: none;
}