.movie-screen {
  background: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
}

.movie-screen__img {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  background: white;
  z-index: -1;
}