.title-bar {
  padding: 0.3rem 0.5rem 0;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.title-bar__title {
  display: inline-block;
  font-size: 1.2rem;
}

.title-bar__tools {
  width: 140px;
  float: right;
}

.title-bar__ink {
  $size: 25px;
  width: $size;
  height: $size;
  background: black;
  display: inline-block;
  border: 1px solid black;
}

.title-bar__ink--white {
  background: white;
}

.title-bar__play {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-left: 2rem;
  padding: 0.2rem 0.4rem;
}
